body{
    margin:0;
    padding-top:40px;
            
    }
nav{
    background-color:#333;
    position:fixed;
    top:0;
    left:50%;
    width:100%;
    max-width:1000px;
    transform:translateX(-50%);
    min-height:37px;
    z-index: 10;
    }
  
.menu{
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    }
.menu::after{
    content:"";
    display:table;
    clear:both;
    }
.menu li{
    float:left;
    cursor:pointer;
    }
        
        
.menu-icon{
    display:none;
    position:absolute;
    top:8px;
    right:0;
    cursor:pointer;
    }
.menu li a,
.menu-icon a{
    display:inline-block;
    padding:10px 15px 7px;
    color:white;
    text-decoration:none;
    font-size:16px;
    }
.menu-icon a{
    font-size:26px;
    padding:0 15px;
    line-height:1em;
    }
.menu li.active a{
    color:red;
    }
.menu li a:hover{
    background-color:#7B7474;
    }
.progress-bar{
    height:3px;
    position:relative;
    }
.progress-bar__in{
    position:absolute;
    background-color:red;
    height:100%;
    left:0;
    top:0;
    }
.page-container{
    border:1px solid black;
    max-width:1000px;
    margin:auto;
    padding:0 15px;
    box-sizing:border-box;
    }
.page-container h3{
    margin-top:60px;
    text-align:center;
    }
.page-container__home{
    background-color:red;
    }
.page-container__about{
    background-color:green;
    }
.page-container__news{
    background-color:yellow;
    }
.page-container__contact{
    background-color:gray;
    }
.page-container__next{
    background-color:greenyellow;
    }
.dropdown{
    color:white;
    font-size:16px;
    position:relative;
}

.dropdown:hover{
    background-color:#7B7474;
}

.dropdown-title{
    display:inline-block;
    padding:10px 5px 7px 15px;
}
.dropdown-icon{
    display:inline-block;
    padding:0 10px 0 0;
    font-size:0.5em;
    vertical-align:middle;
}
.submenu{
    display:none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left:0;
    top:40px;
    min-width:100%;
    background-color:#333;
    z-index:10;
}
.submenu.submenu-open-js{
    display:block;
}
.submenu li{
    float:none;
    border-bottom:1px solid black;
}
.submenu li a{
    white-space:nowrap;
    padding:10px 15px;
    display:block;
}

@media (max-width:680px){
    
    nav{
        overflow:auto;
        max-height:100vh;
    }
    
    .menu li{
        display:none;
    }
    .menu li.active,
    .menu li.dropdown{
        display:block;
    }
    .menu li.dropdown .dropdown-title,
    .menu li.dropdown .dropdown-icon{
        display:none;
    }
     .submenu{
        display:block;
        position:static;
    }
    
    .menu-icon{
        display:block;
        }
    .menu.responsiv li{
        display:block;
        float:none;
        }
    .menu.responsiv li a{
        display:block;
        }
    .menu.responsiv .dropdown .dropdown-title,
    .menu.responsiv .dropdown .dropdown-icon{
        display:inline-block;
    }
    .menu.responsiv .submenu{
        display:none;
    }

    }  
    .menu.responsiv .submenu.submenu-open-js{
        display:block;
        position:static;
        }

    .dropdown li a{
        padding:10px 25px;
        } 
            
    }